/* PRODUCTS */

#products .framew {
    width: 5rem;
    height: 5rem;
}

#products .framew__img {
    width: 3rem;
    height: 3rem;
}

/* JUMBO */

#jumbo .jumbo__desc {
    font-size: 5rem;
    width: 50rem;
    top: 9rem;
    left: 3rem;
}

#jumbo .jumbo__logo {
    top: 30rem;
    left: 3rem;
    width: 25rem;
}

#jumbo .jumbo__container {
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}