/* CAROUSEL */
.carousel .slide {
    background: none !important;
}

/* BOOTSTRAP UTILITIES */
.bg-light {
    background-color: #f4f5fa !important;
}

/* CUSTOM CSS */
.c-pointer {
    cursor: pointer;
}

/* procedures */

#procedures .item-image:hover {
    filter: blur(5px);
}